.img{
    height: 100%;
    width: 100%;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.cart-img{
    height: 100%;
    width: 100%;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 4% 0;
}

.price-details h6{
    padding: 3% 2%;
}

.cart-card{
    padding: 2%;
    border-radius: 2%;
}

.nav-bg{
    background-color: #f97338;
}

.menu-title{
    color: white;
}

.item-card{
    margin-top: 5%;
    margin-bottom: 5%;
}

.add-cart-btn{
    background-color: #f97338;
    color: white;
  
}

.checkout{
    margin-left:25%;
    margin-top: 10%;
    margin-bottom: 10%;
    align-content: center;
   
}

.btn-c{
    background-color: #f97338;
    color: white;
}

.confirm-container{
    margin-top: 0%;
}

.text-complete-order{
    margin-top: 5%;
    color: #f97338;
}
