.food-item-small{
	display: table;
    width: 100%;
    float: left;
    position: relative;
    float: left;
    padding-bottom: 25px;
}

.food-item-small .left {
    display: table-cell;
    width: 106px;
    position: relative;
    background-color: #fafafa;
}

.food-item-small .right {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    position: relative;
}

.menu-canteen{
	width: 50%;
	border-radius: 10px;
    box-shadow: 2px;
    border-color: #000;
	float: left;
	position: relative;
	padding: 20px;
}


.menu-canteen .food-title{
	color: #000;
	text-decoration-line: none;
	float: left;
	font-family: sans-serif;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.menu-category .category{
	color: #000;
	text-decoration-line: none;
	float: left;
	margin-top: 10px;
	font-family: sans-serif;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.menu-canteen .food-price{
	color: #000;
	float: left;
	font-size: 12px;
	text-decoration-style: bold;
	letter-spacing: 1px;
}

.menu-canteen .clearfix{
	display: block;
	position: relative;
}

.open-button {
  background-color: #555;
  color: white;
  margin-top: 10px;
  opacity: 0.8;
  width: 150px;
  height: 30px;
}

.food-card{
border: 1px solid:#333;
float: left;
	position: relative;

background-color: #f1f1f1;
border-radius: 10px;
border-radius:5px;
 padding:16px; 
}
.food-text{
	color: #000;
	margin: 10px;
	text-transform: capitalize;
	font-size: 14px;
}

